a.call-to-action-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #202124;
    background-image: linear-gradient(to right, #25E6B3, #24E32D);
    font-family: "Instrument Sans Bold";
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    padding: 24px 56px;
    box-sizing: border-box;
    box-shadow: 0 0 30px #23b95e80;
    transition: .2s ease-in-out;
}

a.call-to-action-btn:hover {
    cursor: pointer;
    transform: scale(1.04);
}